In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn')

In [2]:
df = pd.read_csv("/content/c_train.csv")
df.head()

   PassengerId  Survived  Pclass  ... Cabin Embarked  Cluster
0            1         0       3  ...   NaN        S        0
1            2         1       1  ...   C85        C        1
2            3         1       3  ...   NaN        S        0
3            4         1       1  ...  C123        S        1
4            5         0       3  ...   NaN        S        0

[5 rows x 13 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    object
 12  Cluster      891 non-null    int64
dtypes: float64(2), int64(6), object(5)
memory usage: 90.6+ KB

In [4]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Cluster'],
      dtype='object')

Selecting Features

In [5]:
X = df.loc[:,['Pclass','Sex', 'Age', 'SibSp','Parch','Fare','Embarked']].values
y = df.loc[:,'Survived'].values

Encoding Categorical Variables

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:,1] = le.fit_transform(X[:,1])

In [7]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[-1])],remainder='passthrough')
X = ct.fit_transform(X)

In [8]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

Preparing K-fold Crossvalidation

In [9]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
cv = KFold(n_splits=5, random_state=666, shuffle=True)
acc =[]

1. Logistic Regression

In [10]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
LR = scores.mean()
acc.append(LR)

2. Support Vector Machine

In [11]:
from sklearn.svm import SVC
model = SVC()
scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
SVC = scores.mean()
acc.append(SVC)

3. Naive Bayes (Gaussian)

In [12]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
GNB = scores.mean()
acc.append(GNB)

4. Stochastic Gradient Descent Classifier

In [13]:
from sklearn.linear_model import SGDClassifier
model = SGDClassifier(loss="modified_huber")
scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
SGD = scores.mean()
acc.append(SGD)

5. KNN

In [14]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
KNN = scores.mean()
acc.append(KNN)

6. Decicion Tree

In [15]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
DT = scores.mean()
acc.append(DT)

7. Random Forest

In [16]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
RF = scores.mean()
acc.append(RF)

8. Gradient Boosting Classifier

In [17]:
from sklearn.ensemble import GradientBoostingClassifier
model = GradientBoostingClassifier()
scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
GBC = scores.mean()
acc.append(GBC)

9. LGBM Classifier

In [18]:
from lightgbm import LGBMClassifier
model = LGBMClassifier()
scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
LGBM = scores.mean()
acc.append(LGBM)

10. XGBoost Classifier

In [19]:
from xgboost.sklearn import XGBClassifier
model = XGBClassifier()
scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
XGB = scores.mean()
acc.append(XGB)

11. ANN

In [20]:
import tensorflow as tf
ann = tf.keras.models.Sequential([
    tf.keras.layers.Dense(units = 9,activation='relu'),
    tf.keras.layers.Dense(units = 40,activation='relu'),
    tf.keras.layers.Dense(units = 1,activation='sigmoid')
])
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 666)

In [22]:
ann.fit(X_train, y_train, epochs = 50)

Epoch 1/50
20/20 [==============================] - 1s 5ms/step - loss: 0.6407 - accuracy: 0.6693
Epoch 2/50
20/20 [==============================] - 0s 3ms/step - loss: 0.5875 - accuracy: 0.7191
Epoch 3/50
20/20 [==============================] - 0s 3ms/step - loss: 0.5495 - accuracy: 0.7464
Epoch 4/50
20/20 [==============================] - 0s 5ms/step - loss: 0.5193 - accuracy: 0.7608
Epoch 5/50
20/20 [==============================] - 0s 3ms/step - loss: 0.4951 - accuracy: 0.7945
Epoch 6/50
20/20 [==============================] - 0s 4ms/step - loss: 0.4775 - accuracy: 0.8026
Epoch 7/50
20/20 [==============================] - 0s 5ms/step - loss: 0.4641 - accuracy: 0.8058
Epoch 8/50
20/20 [==============================] - 0s 3ms/step - loss: 0.4558 - accuracy: 0.7994
Epoch 9/50
20/20 [==============================] - 0s 3ms/step - loss: 0.4494 - accuracy: 0.8090
Epoch 10/50
20/20 [==============================] - 0s 4ms/step - loss: 0.4440 - accuracy: 0.8074
Epoch 11/50
20/20 [==============================] - 0s 4ms/step - loss: 0.4403 - accuracy: 0.8106
Epoch 12/50
20/20 [==============================] - 0s 3ms/step - loss: 0.4384 - accuracy: 0.8090
Epoch 13/50
20/20 [==============================] - 0s 3ms/step - loss: 0.4360 - accuracy: 0.8090
Epoch 14/50
20/20 [==============================] - 0s 3ms/step - loss: 0.4334 - accuracy: 0.8122
Epoch 15/50
20/20 [==============================] - 0s 3ms/step - loss: 0.4314 - accuracy: 0.8122
Epoch 16/50
20/20 [==============================] - 0s 4ms/step - loss: 0.4297 - accuracy: 0.8154
Epoch 17/50
20/20 [==============================] - 0s 5ms/step - loss: 0.4277 - accuracy: 0.8170
Epoch 18/50
20/20 [==============================] - 0s 3ms/step - loss: 0.4260 - accuracy: 0.8186
Epoch 19/50
20/20 [==============================] - 0s 6ms/step - loss: 0.4248 - accuracy: 0.8202
Epoch 20/50
20/20 [==============================] - 0s 2ms/step - loss: 0.4232 - accuracy: 0.8218
Epoch 21/50
20/20 [==============================] - 0s 2ms/step - loss: 0.4220 - accuracy: 0.8218
Epoch 22/50
20/20 [==============================] - 0s 4ms/step - loss: 0.4201 - accuracy: 0.8202
Epoch 23/50
20/20 [==============================] - 0s 5ms/step - loss: 0.4185 - accuracy: 0.8218
Epoch 24/50
20/20 [==============================] - 0s 4ms/step - loss: 0.4178 - accuracy: 0.8186
Epoch 25/50
20/20 [==============================] - 0s 2ms/step - loss: 0.4160 - accuracy: 0.8218
Epoch 26/50
20/20 [==============================] - 0s 3ms/step - loss: 0.4154 - accuracy: 0.8234
Epoch 27/50
20/20 [==============================] - 0s 2ms/step - loss: 0.4140 - accuracy: 0.8266
Epoch 28/50
20/20 [==============================] - 0s 4ms/step - loss: 0.4121 - accuracy: 0.8266
Epoch 29/50
20/20 [==============================] - 0s 7ms/step - loss: 0.4126 - accuracy: 0.8250
Epoch 30/50
20/20 [==============================] - 0s 6ms/step - loss: 0.4112 - accuracy: 0.8266
Epoch 31/50
20/20 [==============================] - 0s 4ms/step - loss: 0.4103 - accuracy: 0.8283
Epoch 32/50
20/20 [==============================] - 0s 4ms/step - loss: 0.4081 - accuracy: 0.8266
Epoch 33/50
20/20 [==============================] - 0s 3ms/step - loss: 0.4081 - accuracy: 0.8283
Epoch 34/50
20/20 [==============================] - 0s 5ms/step - loss: 0.4054 - accuracy: 0.8315
Epoch 35/50
20/20 [==============================] - 0s 4ms/step - loss: 0.4048 - accuracy: 0.8315
Epoch 36/50
20/20 [==============================] - 0s 4ms/step - loss: 0.4040 - accuracy: 0.8315
Epoch 37/50
20/20 [==============================] - 0s 4ms/step - loss: 0.4027 - accuracy: 0.8347
Epoch 38/50
20/20 [==============================] - 0s 4ms/step - loss: 0.4028 - accuracy: 0.8299
Epoch 39/50
20/20 [==============================] - 0s 3ms/step - loss: 0.4015 - accuracy: 0.8283
Epoch 40/50
20/20 [==============================] - 0s 8ms/step - loss: 0.3999 - accuracy: 0.8363
Epoch 41/50
20/20 [==============================] - 0s 4ms/step - loss: 0.3992 - accuracy: 0.8331
Epoch 42/50
20/20 [==============================] - 0s 4ms/step - loss: 0.3983 - accuracy: 0.8363
Epoch 43/50
20/20 [==============================] - 0s 3ms/step - loss: 0.3974 - accuracy: 0.8315
Epoch 44/50
20/20 [==============================] - 0s 4ms/step - loss: 0.3969 - accuracy: 0.8347
Epoch 45/50
20/20 [==============================] - 0s 3ms/step - loss: 0.3963 - accuracy: 0.8379
Epoch 46/50
20/20 [==============================] - 0s 3ms/step - loss: 0.3957 - accuracy: 0.8395
Epoch 47/50
20/20 [==============================] - 0s 5ms/step - loss: 0.3943 - accuracy: 0.8363
Epoch 48/50
20/20 [==============================] - 0s 3ms/step - loss: 0.3941 - accuracy: 0.8363
Epoch 49/50
20/20 [==============================] - 0s 3ms/step - loss: 0.3933 - accuracy: 0.8363
Epoch 50/50
20/20 [==============================] - 0s 3ms/step - loss: 0.3931 - accuracy: 0.8331

In [23]:
res = ann.evaluate(X_test, y_test)[1]
acc.append(res)

9/9 [==============================] - 0s 6ms/step - loss: 0.4430 - accuracy: 0.8172

In [24]:
best_acc = max(acc)
for i in range(0,11):
  if (acc[i] == best_acc):
    print(i+1)
    break

9

LGBM Classifier!

In [25]:
test = pd.read_csv('/content/c_test.csv')
test.head()

   PassengerId  Pclass  ... Embarked Cluster
0          892       3  ...        Q       0
1          893       3  ...        S       0
2          894       2  ...        Q       0
3          895       3  ...        S       0
4          896       3  ...        S       0

[5 rows x 12 columns]

In [26]:
X_test = test.loc[:,['Pclass','Sex', 'Age', 'SibSp','Parch','Fare','Embarked']].values

In [27]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X_test[:,1] = le.fit_transform(X_test[:,1])

In [28]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[-1])],remainder='passthrough')
X_test = ct.fit_transform(X_test)

In [29]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_test = sc.fit_transform(X_test)

In [30]:
model = XGBClassifier()
model.fit(X,y)
y_pred = model.predict(X_test)

In [31]:
output = test.iloc[:,0:1]
output['Survived'] = y_pred
output

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [32]:
output.to_csv('output.csv',index=False)