In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn')

In [2]:
df = pd.read_csv("/content/c_train.csv")
df.head()

   PassengerId  Survived  Pclass  ... Cabin Embarked  Cluster
0            1         0       3  ...   NaN        S        0
1            2         1       1  ...   C85        C        1
2            3         1       3  ...   NaN        S        0
3            4         1       1  ...  C123        S        1
4            5         0       3  ...   NaN        S        0

[5 rows x 13 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    object
 12  Cluster      891 non-null    int64
dtypes: float64(2), int64(6), object(5)
memory usage: 90.6+ KB

In [4]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Cluster'],
      dtype='object')

Selecting Features

In [5]:
X = df.loc[:,['Pclass','Sex', 'Age', 'SibSp','Parch','Fare','Embarked']].values
y = df.loc[:,'Survived'].values

Encoding Categorical Variables

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:,1] = le.fit_transform(X[:,1])

In [7]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[-1])],remainder='passthrough')
X = ct.fit_transform(X)

In [8]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

Tuning ANN

In [9]:
import tensorflow as tf
ann = tf.keras.models.Sequential([
    tf.keras.layers.Dense(units = 9, activation='relu'),
    tf.keras.layers.Dense(units = 20, activation='relu'),
    tf.keras.layers.Dropout(rate = 0.1),
    tf.keras.layers.Dense(units = 1, activation='sigmoid')
])

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 666)

In [11]:
lr_schedule = tf.keras.optimizers.schedules.ExponentialDecay(
        0.01,
        decay_steps=60,
        decay_rate=0.90,
        staircase=True)
opt = tf.keras.optimizers.Adam(lr_schedule)
ann.compile(optimizer = opt, loss = 'binary_crossentropy', metrics = ['accuracy'])
ann.fit(X_train, y_train, batch_size=64, epochs = 60)
ann.summary()

Epoch 1/60
10/10 [==============================] - 1s 2ms/step - loss: 0.6585 - accuracy: 0.6019
Epoch 2/60
10/10 [==============================] - 0s 2ms/step - loss: 0.5174 - accuracy: 0.7689
Epoch 3/60
10/10 [==============================] - 0s 2ms/step - loss: 0.4748 - accuracy: 0.7689
Epoch 4/60
10/10 [==============================] - 0s 2ms/step - loss: 0.4533 - accuracy: 0.7833
Epoch 5/60
10/10 [==============================] - 0s 2ms/step - loss: 0.4432 - accuracy: 0.7929
Epoch 6/60
10/10 [==============================] - 0s 2ms/step - loss: 0.4299 - accuracy: 0.7961
Epoch 7/60
10/10 [==============================] - 0s 3ms/step - loss: 0.4337 - accuracy: 0.7913
Epoch 8/60
10/10 [==============================] - 0s 2ms/step - loss: 0.4164 - accuracy: 0.8234
Epoch 9/60
10/10 [==============================] - 0s 2ms/step - loss: 0.4137 - accuracy: 0.8138
Epoch 10/60
10/10 [==============================] - 0s 4ms/step - loss: 0.4004 - accuracy: 0.8299
Epoch 11/60
10/10 [==============================] - 0s 3ms/step - loss: 0.4004 - accuracy: 0.8315
Epoch 12/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3892 - accuracy: 0.8379
Epoch 13/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3971 - accuracy: 0.8395
Epoch 14/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3876 - accuracy: 0.8411
Epoch 15/60
10/10 [==============================] - 0s 3ms/step - loss: 0.3926 - accuracy: 0.8363
Epoch 16/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3795 - accuracy: 0.8395
Epoch 17/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3812 - accuracy: 0.8395
Epoch 18/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3821 - accuracy: 0.8331
Epoch 19/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3746 - accuracy: 0.8491
Epoch 20/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3857 - accuracy: 0.8427
Epoch 21/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3711 - accuracy: 0.8459
Epoch 22/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3674 - accuracy: 0.8427
Epoch 23/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3725 - accuracy: 0.8459
Epoch 24/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3597 - accuracy: 0.8571
Epoch 25/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3653 - accuracy: 0.8411
Epoch 26/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3566 - accuracy: 0.8539
Epoch 27/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3707 - accuracy: 0.8411
Epoch 28/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3619 - accuracy: 0.8475
Epoch 29/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3681 - accuracy: 0.8491
Epoch 30/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3565 - accuracy: 0.8539
Epoch 31/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3622 - accuracy: 0.8507
Epoch 32/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3651 - accuracy: 0.8507
Epoch 33/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3570 - accuracy: 0.8523
Epoch 34/60
10/10 [==============================] - 0s 3ms/step - loss: 0.3538 - accuracy: 0.8459
Epoch 35/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3560 - accuracy: 0.8523
Epoch 36/60
10/10 [==============================] - 0s 3ms/step - loss: 0.3567 - accuracy: 0.8539
Epoch 37/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3503 - accuracy: 0.8507
Epoch 38/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3529 - accuracy: 0.8555
Epoch 39/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3443 - accuracy: 0.8555
Epoch 40/60
10/10 [==============================] - 0s 3ms/step - loss: 0.3497 - accuracy: 0.8523
Epoch 41/60
10/10 [==============================] - 0s 3ms/step - loss: 0.3522 - accuracy: 0.8555
Epoch 42/60
10/10 [==============================] - 0s 3ms/step - loss: 0.3476 - accuracy: 0.8571
Epoch 43/60
10/10 [==============================] - 0s 3ms/step - loss: 0.3456 - accuracy: 0.8507
Epoch 44/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3587 - accuracy: 0.8555
Epoch 45/60
10/10 [==============================] - 0s 3ms/step - loss: 0.3476 - accuracy: 0.8620
Epoch 46/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3500 - accuracy: 0.8620
Epoch 47/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3420 - accuracy: 0.8555
Epoch 48/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3524 - accuracy: 0.8555
Epoch 49/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3390 - accuracy: 0.8507
Epoch 50/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3500 - accuracy: 0.8555
Epoch 51/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3431 - accuracy: 0.8604
Epoch 52/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3479 - accuracy: 0.8491
Epoch 53/60
10/10 [==============================] - 0s 3ms/step - loss: 0.3379 - accuracy: 0.8539
Epoch 54/60
10/10 [==============================] - 0s 3ms/step - loss: 0.3436 - accuracy: 0.8523
Epoch 55/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3469 - accuracy: 0.8555
Epoch 56/60
10/10 [==============================] - 0s 3ms/step - loss: 0.3384 - accuracy: 0.8507
Epoch 57/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3400 - accuracy: 0.8571
Epoch 58/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3351 - accuracy: 0.8636
Epoch 59/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8571
Epoch 60/60
10/10 [==============================] - 0s 2ms/step - loss: 0.3379 - accuracy: 0.8571
Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 9)                 90

 dense_1 (Dense)             (None, 20)                200

 dropout (Dropout)           (None, 20)                0

 dense_2 (Dense)             (None, 1)                 21

=================================================================
Total params: 311
Trainable params: 311
Non-trainable params: 0
_________________________________________________________________

In [12]:
res = ann.evaluate(X_test, y_test)[1]

9/9 [==============================] - 0s 2ms/step - loss: 0.4556 - accuracy: 0.8209

In [13]:
test = pd.read_csv('/content/c_test.csv')
test.head()

   PassengerId  Pclass  ... Embarked Cluster
0          892       3  ...        Q       0
1          893       3  ...        S       0
2          894       2  ...        Q       0
3          895       3  ...        S       0
4          896       3  ...        S       0

[5 rows x 12 columns]

In [14]:
test = pd.read_csv('/content/c_test.csv')
test.head()

   PassengerId  Pclass  ... Embarked Cluster
0          892       3  ...        Q       0
1          893       3  ...        S       0
2          894       2  ...        Q       0
3          895       3  ...        S       0
4          896       3  ...        S       0

[5 rows x 12 columns]

In [15]:
X_test = test.loc[:,['Pclass','Sex', 'Age', 'SibSp','Parch','Fare','Embarked']].values

In [16]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X_test[:,1] = le.fit_transform(X_test[:,1])

In [17]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[-1])],remainder='passthrough')
X_test = ct.fit_transform(X_test)

In [18]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_test = sc.fit_transform(X_test)

In [19]:
y_pred = ann.predict(X_test)
y_pred

array([[7.47541189e-02],
       [1.86370939e-01],
       [3.47411036e-02],
       [8.64458680e-02],
       [2.53177404e-01],
       [6.65085316e-02],
       [7.26158738e-01],
       [1.22951746e-01],
       [5.94042838e-01],
       [3.42954695e-02],
       [8.17652941e-02],
       [2.30630606e-01],
       [9.97888446e-01],
       [2.64732242e-02],
       [9.81304526e-01],
       [9.62355793e-01],
       [5.84363043e-02],
       [9.57481563e-02],
       [1.62462920e-01],
       [4.26609367e-01],
       [2.92491913e-01],
       [9.60748911e-01],
       [9.98534322e-01],
       [5.29068768e-01],
       [9.63936925e-01],
       [3.13568413e-02],
       [9.99646664e-01],
       [8.16407800e-02],
       [2.52785593e-01],
       [2.78717399e-01],
       [4.22334969e-02],
       [4.63265181e-02],
       [2.20656961e-01],
       [2.55325735e-01],
       [5.68737328e-01],
       [1.18948817e-01],
       [3.78243685e-01],
       [4.69620824e-01],
       [8.13715756e-02],
       [4.08615798e-01],
       [1.57360494e-01],
       [3.33640635e-01],
       [9.97237563e-02],
       [9.46120799e-01],
       [9.83822048e-01],
       [7.91445673e-02],
       [2.43070930e-01],
       [8.19343030e-02],
       [9.94854271e-01],
       [1.57194912e-01],
       [4.20602351e-01],
       [1.15811318e-01],
       [8.70532572e-01],
       [9.56648827e-01],
       [1.24877661e-01],
       [2.22272277e-02],
       [9.81538892e-02],
       [7.87614584e-02],
       [8.31939578e-02],
       [9.94045019e-01],
       [6.85529411e-02],
       [8.96176100e-02],
       [6.96240962e-02],
       [7.97472060e-01],
       [9.35429096e-01],
       [9.52896237e-01],
       [8.27581227e-01],
       [1.79468572e-01],
       [3.80990148e-01],
       [9.13860321e-01],
       [7.81065643e-01],
       [7.37084150e-02],
       [4.11918730e-01],
       [3.90737802e-01],
       [9.91642892e-01],
       [1.81180269e-01],
       [8.19508135e-02],
       [9.64016438e-01],
       [8.21737945e-02],
       [7.81065643e-01],
       [8.75317454e-01],
       [3.22447211e-01],
       [2.12263614e-01],
       [8.17652941e-02],
       [4.55548167e-02],
       [1.32725477e-01],
       [7.54759073e-01],
       [5.68931818e-01],
       [7.63709664e-01],
       [9.94287848e-01],
       [2.25322813e-01],
       [8.16202760e-02],
       [9.90151405e-01],
       [8.19508135e-02],
       [3.97729814e-01],
       [7.89643228e-02],
       [9.68566656e-01],
       [9.34168398e-02],
       [4.98729736e-01],
       [9.67992544e-02],
       [9.98457193e-01],
       [1.01142794e-01],
       [8.19343030e-02],
       [8.16202760e-02],
       [8.53345513e-01],
       [1.41003668e-01],
       [8.18547904e-02],
       [8.19343030e-02],
       [8.27519000e-02],
       [1.11596197e-01],
       [3.91484499e-02],
       [7.63726413e-01],
       [9.99240160e-01],
       [8.23754489e-01],
       [9.65989232e-01],
       [2.93115556e-01],
       [5.56413531e-02],
       [9.79268909e-01],
       [2.85643220e-01],
       [8.25114131e-01],
       [9.13693786e-01],
       [3.19601059e-01],
       [9.98785198e-01],
       [8.85136724e-02],
       [8.19343030e-02],
       [8.01006556e-01],
       [7.49159157e-02],
       [2.01238275e-01],
       [7.94471502e-02],
       [7.80145824e-02],
       [9.60545540e-02],
       [1.68053329e-01],
       [1.75049365e-01],
       [1.29191220e-01],
       [9.12623405e-02],
       [7.77451694e-02],
       [5.28205335e-02],
       [6.75781071e-02],
       [4.05835032e-01],
       [3.72058153e-03],
       [1.38043433e-01],
       [9.81990457e-01],
       [4.27341372e-01],
       [9.53592658e-02],
       [2.55337417e-01],
       [8.51646066e-03],
       [2.35577703e-01],
       [7.52621889e-02],
       [3.33640635e-01],
       [7.18163550e-02],
       [9.99713182e-01],
       [5.59615493e-02],
       [4.25401926e-02],
       [1.58294588e-01],
       [8.18696618e-03],
       [7.73214400e-02],
       [9.85538304e-01],
       [4.05276567e-01],
       [2.55337447e-01],
       [2.59539306e-01],
       [7.63700128e-01],
       [8.63344967e-01],
       [9.48472559e-01],
       [8.06955397e-02],
       [8.05770457e-02],
       [2.13697284e-01],
       [2.46737719e-01],
       [2.82143354e-02],
       [9.99343634e-01],
       [4.39235389e-01],
       [8.13508332e-02],
       [4.99790609e-02],
       [1.33298010e-01],
       [5.58149815e-02],
       [3.72335315e-03],
       [8.98005247e-01],
       [9.41084266e-01],
       [2.91190505e-01],
       [7.36699879e-01],
       [9.93281245e-01],
       [8.21737945e-02],
       [5.26768029e-01],
       [9.97716069e-01],
       [8.19343030e-02],
       [9.96692240e-01],
       [8.51997137e-02],
       [9.05229807e-01],
       [3.50877643e-02],
       [1.97184086e-03],
       [8.24510157e-02],
       [8.61775279e-02],
       [3.34655464e-01],
       [5.36594570e-01],
       [3.61596048e-02],
       [9.47291017e-01],
       [9.66111720e-02],
       [9.41740811e-01],
       [5.67832112e-01],
       [8.13222229e-02],
       [3.78409684e-01],
       [7.68132091e-01],
       [9.98587310e-01],
       [3.62659037e-01],
       [9.40874577e-01],
       [7.03310370e-02],
       [3.95039797e-01],
       [6.71973169e-01],
       [7.56435394e-02],
       [9.99261737e-01],
       [7.91037679e-02],
       [1.40655279e-01],
       [8.07548463e-02],
       [2.96624482e-01],
       [7.83802867e-01],
       [9.63309407e-03],
       [2.02709585e-01],
       [7.63783872e-01],
       [3.29226464e-01],
       [9.76263642e-01],
       [8.19508135e-02],
       [9.51814115e-01],
       [7.39152730e-02],
       [9.33063626e-01],
       [7.35746026e-02],
       [9.95915413e-01],
       [7.62288868e-01],
       [7.62796402e-02],
       [7.63709664e-01],
       [1.03520960e-01],
       [8.91188681e-02],
       [3.21200967e-01],
       [9.98503923e-01],
       [2.06774205e-01],
       [8.19254816e-02],
       [4.89088148e-01],
       [7.23322630e-02],
       [2.98519433e-01],
       [1.06328577e-01],
       [8.32516313e-01],
       [9.98830318e-01],
       [9.95042562e-01],
       [8.73635292e-01],
       [2.98569858e-01],
       [8.17553699e-02],
       [2.27141082e-02],
       [3.36960703e-01],
       [9.37898636e-01],
       [2.58957744e-02],
       [8.25114131e-01],
       [5.18780529e-01],
       [9.45220649e-01],
       [7.24255741e-02],
       [3.22187096e-01],
       [7.97896683e-02],
       [9.78238285e-02],
       [8.13508332e-02],
       [8.19343030e-02],
       [8.95519257e-02],
       [9.28080201e-01],
       [7.35467672e-02],
       [6.05873466e-02],
       [7.36527145e-02],
       [7.96887636e-01],
       [9.78711665e-01],
       [9.17740166e-02],
       [8.17652941e-02],
       [2.70159304e-01],
       [8.13508332e-02],
       [3.78243685e-01],
       [6.95196688e-02],
       [2.35998839e-01],
       [8.19343030e-02],
       [9.98827219e-01],
       [6.58278823e-01],
       [5.58140278e-02],
       [8.70832801e-01],
       [7.30361640e-02],
       [6.65332973e-02],
       [9.47237015e-02],
       [8.73869061e-02],
       [4.07583594e-01],
       [9.91351008e-01],
       [7.63709664e-01],
       [8.94593000e-01],
       [9.71145511e-01],
       [9.82821584e-02],
       [8.09927881e-02],
       [4.36557531e-01],
       [5.58149815e-02],
       [8.19508135e-02],
       [2.70494640e-01],
       [7.25728631e-01],
       [5.58149815e-02],
       [2.69904852e-01],
       [1.00495756e-01],
       [8.17652941e-02],
       [9.94932294e-01],
       [2.78717399e-01],
       [2.49188155e-01],
       [9.33209360e-02],
       [9.57924128e-02],
       [1.24663621e-01],
       [4.44118381e-02],
       [7.88627267e-02],
       [7.63709664e-01],
       [9.52319086e-01],
       [2.12241977e-01],
       [9.94846702e-01],
       [2.44663924e-01],
       [1.94544435e-01],
       [7.07926750e-02],
       [8.61191452e-02],
       [8.13807249e-02],
       [6.47673070e-01],
       [9.91851449e-01],
       [8.34449768e-01],
       [2.53944844e-01],
       [1.08098000e-01],
       [8.54299068e-02],
       [5.53928614e-02],
       [8.16202760e-02],
       [6.22866154e-02],
       [6.75781071e-02],
       [3.75497669e-01],
       [9.83684659e-01],
       [7.52550364e-02],
       [8.05907965e-01],
       [2.23736525e-01],
       [9.84333158e-02],
       [9.45887864e-02],
       [8.78351510e-01],
       [3.35848868e-01],
       [5.58140278e-02],
       [8.19321871e-01],
       [8.54819119e-02],
       [3.63397002e-01],
       [8.91969800e-02],
       [1.84060216e-01],
       [9.83769000e-02],
       [5.58149815e-02],
       [1.13088965e-01],
       [9.56061780e-02],
       [4.65571880e-03],
       [9.99784470e-01],
       [3.39305997e-02],
       [6.42080605e-01],
       [6.75781071e-02],
       [4.44374204e-01],
       [7.63654411e-02],
       [9.49392319e-01],
       [9.99136806e-01],
       [7.03310370e-02],
       [2.87304163e-01],
       [4.14888859e-02],
       [8.58415246e-01],
       [2.06383914e-01],
       [9.70151722e-01],
       [8.17453861e-02],
       [8.19343030e-02],
       [1.71708852e-01],
       [4.48316336e-04],
       [9.73408937e-01],
       [9.49392319e-01],
       [8.64458680e-02],
       [9.99010980e-01],
       [4.32423055e-02],
       [1.32727385e-01],
       [4.93944734e-01],
       [9.99097288e-01],
       [9.93584991e-02],
       [1.80141389e-01],
       [9.98702586e-01],
       [1.65509403e-01],
       [7.83968568e-02],
       [9.80521977e-01],
       [9.83213902e-01],
       [7.47446716e-02],
       [9.41495299e-02],
       [1.28555238e-01],
       [2.18245685e-02],
       [8.19343030e-02],
       [8.19254816e-02],
       [3.90677840e-01],
       [3.10908258e-01],
       [6.75084293e-02],
       [8.16329181e-01],
       [7.76364803e-02],
       [6.47473335e-02],
       [8.18059742e-02],
       [3.98334861e-02],
       [1.97707117e-01],
       [9.81889486e-01],
       [6.12205744e-01],
       [7.31539428e-02],
       [4.33239341e-03],
       [9.97876763e-01],
       [8.28145146e-02],
       [9.97432590e-01],
       [7.48876035e-02],
       [7.76879787e-02],
       [9.82264698e-01],
       [7.18313754e-02],
       [9.99636769e-01],
       [2.40045100e-01],
       [3.98389757e-01],
       [1.60184830e-01],
       [1.07419372e-01],
       [3.14125776e-01],
       [7.63692856e-01],
       [9.56856489e-01],
       [7.63709664e-01],
       [7.89979339e-01],
       [4.02358472e-01],
       [8.19508135e-02],
       [9.99169827e-01],
       [1.00192130e-01],
       [8.19508135e-02],
       [5.94283104e-01]], dtype=float32)

In [20]:
y_pred[y_pred>=0.5] = 1
y_pred[y_pred<0.5] = 0

In [21]:
y_pred = [int(i) for i in y_pred]
y_pred

[0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1]

In [22]:
output_2 = test.iloc[:,0:1]
output_2['Survived'] = y_pred
output_2

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [23]:
output_2.to_csv('Tuned_Ann.csv',index=False)